* { box-sizing: border-box; }

ul {
	background-color: #fff;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	border-bottom: 1px solid #e7e7e7;

}

li:last-child {
	border-bottom: 0;
}

.content {
  border: 10px solid #fff;
  background-color: #eff0f1;
}

#brand {
 font-size: 2em;
}